<footer class="footer bg-dark py-3 mt-auto">
    <div class="container">
        <span class="text-muted">&copy; tiket 2021</span>
    </div>
    <div class="container">
          <span class="text-muted">&copy; Author  Rakesh Singh</span>
    </div>
</footer>