<% layout('layouts/boilerplate')%>
<div class="alert alert-danger" role="alert">
    Module can't be deleted , First delete all the configured endpoints in the module.
    Currently <%=length%>  endpoint/endpoints is/are configured.
  </div>
  <div class="col-sm-6" >
    <div class="card-body">
    <a class="card-link btn btn-info" href="/">Ok</a>
    </div>
</div>