<% layout('layouts/boilerplate')%>
<div class="row">
    <h1 class="text-center">Add New Module</h1>
    <div class="col-6 offset-3">
        <form action="/addModule" method="POST" novalidate class="validated-form">
            <div class="mb-3">
                <label class="form-label" for="endPoint">Module Name:</label>
                <input class="form-control" type="text" id="moduleName" name="module[name]" required>
                <div class="valid-feedback">
                    Looks good!
                </div>
            </div>
            <div class="mb-3">
                <button class="btn btn-success">Add New Module</button>
            </div>
        </form>
        <a href="/">All Configured Modules </a>
    </div>
</div>